{% extends 'base.html.twig' %}

{% block body %}
  <br>
    <main class="container">
        <div class="p-4 p-md-5 mb-4 text-black rounded btn-warning">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">Магазин на заказ</h1>
                <p class="lead my-3">Лучшие товары для вас, мы собрали в одном месте</p>
                <p class="lead mb-0"><a href="#" class="text-black   fw-bold">Посмотреть все товары....</a></p>
            </div>
        </div>

        {% for products in product %}

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary"><a href="{{ path( 'itemShow',{'id':products.id}) }}">{{ products.name |trans|nl2br }}</a></strong>

                        <h3 class="mb-0">{{products.name}}</h3>
                        <div class="mb-1 text-muted">Price {{products.price}}</div>
                        <p class="card-text mb-auto">{{products.discription}}.</p>
                        <a class="btn btn-success text-white mt-2"
                           href="{{ path('cartAction',{'nameAction':'AddProduct','id':products.id}) }}"><i
                                    class="bi bi-basket2"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-basket2" viewBox="0 0 16 16">
                                <path d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0v-2z"/>
                                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6H2.163z"/>
                            </svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                    </div>
                </div>
            </div>

            {% endfor %}
                    </div>

                </div>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
{#                    From the Firehose#}
{#                </h3>#}

{#                <article class="blog-post">#}
{#                    <h2 class="blog-post-title">Sample blog post</h2>#}
{#                    <p class="blog-post-meta">January 1, 2021 by <a href="#">Mark</a></p>#}

{#                    <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>#}
{#                    <hr>#}
{#                    <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>#}
{#                    <h2>Blockquotes</h2>#}
{#                    <p>This is an example blockquote in action:</p>#}
{#                    <blockquote class="blockquote">#}
{#                        <p>Quoted text goes here.</p>#}
{#                    </blockquote>#}
{#                    <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>#}
{#                    <h3>Example lists</h3>#}
{#                    <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout. This is an example unordered list:</p>#}
{#                    <ul>#}
{#                        <li>First list item</li>#}
{#                        <li>Second list item with a longer description</li>#}
{#                        <li>Third list item to close it out</li>#}
{#                    </ul>#}
{#                    <p>And this is an ordered list:</p>#}
{#                    <ol>#}
{#                        <li>First list item</li>#}
{#                        <li>Second list item with a longer description</li>#}
{#                        <li>Third list item to close it out</li>#}
{#                    </ol>#}
{#                    <p>And this is a definition list:</p>#}
{#                    <dl>#}
{#                        <dt>HyperText Markup Language (HTML)</dt>#}
{#                        <dd>The language used to describe and define the content of a Web page</dd>#}
{#                        <dt>Cascading Style Sheets (CSS)</dt>#}
{#                        <dd>Used to describe the appearance of Web content</dd>#}
{#                        <dt>JavaScript (JS)</dt>#}
{#                        <dd>The programming language used to build advanced Web sites and applications</dd>#}
{#                    </dl>#}
{#                    <h2>Inline HTML elements</h2>#}
{#                    <p>HTML defines a long list of available inline tags, a complete list of which can be found on the <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">Mozilla Developer Network</a>.</p>#}
{#                    <ul>#}
{#                        <li><strong>To bold text</strong>, use <code class="language-plaintext highlighter-rouge">&lt;strong&gt;</code>.</li>#}
{#                        <li><em>To italicize text</em>, use <code class="language-plaintext highlighter-rouge">&lt;em&gt;</code>.</li>#}
{#                        <li>Abbreviations, like <abbr title="HyperText Markup Langage">HTML</abbr> should use <code class="language-plaintext highlighter-rouge">&lt;abbr&gt;</code>, with an optional <code class="language-plaintext highlighter-rouge">title</code> attribute for the full phrase.</li>#}
{#                        <li>Citations, like <cite>— Mark Otto</cite>, should use <code class="language-plaintext highlighter-rouge">&lt;cite&gt;</code>.</li>#}
{#                        <li><del>Deleted</del> text should use <code class="language-plaintext highlighter-rouge">&lt;del&gt;</code> and <ins>inserted</ins> text should use <code class="language-plaintext highlighter-rouge">&lt;ins&gt;</code>.</li>#}
{#                        <li>Superscript <sup>text</sup> uses <code class="language-plaintext highlighter-rouge">&lt;sup&gt;</code> and subscript <sub>text</sub> uses <code class="language-plaintext highlighter-rouge">&lt;sub&gt;</code>.</li>#}
{#                    </ul>#}
{#                    <p>Most of these elements are styled by browsers with few modifications on our part.</p>#}
{#                    <h2>Heading</h2>#}
{#                    <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>#}
{#                    <h3>Sub-heading</h3>#}
{#                    <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>#}
{#                    <pre><code>Example code block</code></pre>#}
{#                    <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>#}
{#                </article>#}

{#                <article class="blog-post">#}
{#                    <h2 class="blog-post-title">Another blog post</h2>#}
{#                    <p class="blog-post-meta">December 23, 2020 by <a href="#">Jacob</a></p>#}

{#                    <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>#}
{#                    <blockquote>#}
{#                        <p>Longer quote goes here, maybe with some <strong>emphasized text</strong> in the middle of it.</p>#}
{#                    </blockquote>#}
{#                    <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>#}
{#                    <h3>Example table</h3>#}
{#                    <p>And don't forget about tables in these posts:</p>#}
{#                    <table class="table">#}
{#                        <thead>#}
{#                        <tr>#}
{#                            <th>Name</th>#}
{#                            <th>Upvotes</th>#}
{#                            <th>Downvotes</th>#}
{#                        </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                        <tr>#}
{#                            <td>Alice</td>#}
{#                            <td>10</td>#}
{#                            <td>11</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>Bob</td>#}
{#                            <td>4</td>#}
{#                            <td>3</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>Charlie</td>#}
{#                            <td>7</td>#}
{#                            <td>9</td>#}
{#                        </tr>#}
{#                        </tbody>#}
{#                        <tfoot>#}
{#                        <tr>#}
{#                            <td>Totals</td>#}
{#                            <td>21</td>#}
{#                            <td>23</td>#}
{#                        </tr>#}
{#                        </tfoot>#}
{#                    </table>#}

{#                    <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>#}
{#                </article>#}

{#                <article class="blog-post">#}
{#                    <h2 class="blog-post-title">New feature</h2>#}
{#                    <p class="blog-post-meta">December 14, 2020 by <a href="#">Chris</a></p>#}

{#                    <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>#}
{#                    <ul>#}
{#                        <li>First list item</li>#}
{#                        <li>Second list item with a longer description</li>#}
{#                        <li>Third list item to close it out</li>#}
{#                    </ul>#}
{#                    <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>#}
{#                </article>#}

{#                <nav class="blog-pagination" aria-label="Pagination">#}
{#                    <a class="btn btn-outline-primary" href="#">Older</a>#}
{#                    <a class="btn btn-outline-secondary disabled">Newer</a>#}
{#                </nav>#}

{#            </div>#}

{#            <div class="col-md-4">#}
{#                <div class="position-sticky" style="top: 2rem;">#}
{#                    <div class="p-4 mb-3 bg-light rounded">#}
{#                        <h4 class="fst-italic">About</h4>#}
{#                        <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>#}
{#                    </div>#}

{#                    <div class="p-4">#}
{#                        <h4 class="fst-italic">Категории</h4>#}
{#                        <ol class="list-unstyled mb-0">#}
{#                            <li><a href="#">Телефоны</a></li>#}
{#                            <li><a href="#">Ноутбуки</a></li>#}
{#                            <li><a href="#">Гарнитуры</a></li>#}
{#                            <li><a href="#">бла</a></li>#}
{#                            <li><a href="#">бла</a></li>#}
{#                            <li><a href="#">бла</a></li>#}

{#                        </ol>#}
{#                    </div>#}

{#                    <div class="p-4">#}
{#                        <h4 class="fst-italic">Elsewhere</h4>#}
{#                        <ol class="list-unstyled">#}
{#                            <li><a href="#">GitHub</a></li>#}
{#                            <li><a href="#">Twitter</a></li>#}
{#                            <li><a href="#">Facebook</a></li>#}
{#                        </ol>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

{#    </main>#}
{% endblock %}
